.fade-enter {
    opacity: 0;
    transform: translateY(20px); /* Añadir desplazamiento vertical durante la entrada */
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0); /* Regresar a la posición original */
    transition: opacity 300ms ease-in, transform 300ms ease-in; /* Transiciones suaves para opacidad y desplazamiento */
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateY(0); /* Mantener en la posición original durante la salida */
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(20px); /* Desplazamiento vertical durante la salida */
    transition: opacity 300ms ease-in, transform 300ms ease-in; /* Transiciones suaves para opacidad y desplazamiento */
  }

  /* Personaliza el recuadro azul */
.bg-blue-600 {
    background-color: #1e90ff; /* Cambia esto al color que desees */
  }
  
  .text-white {
    color: #ffffff; /* Asegúrate de que el texto sea legible */
  }
  
  button {
    transition: background-color 0.3s; /* Efecto de transición suave */
  }
  
  /* Estilo para el botón al pasar el mouse */
  button:hover {
    background-color: #ff4500; /* Cambia esto al color que desees */
  }
  /* Estilo para el punto que se mueve en el interruptor */
.dot {
  transition: transform 0.3s ease;
}
